.svn
*.o
*.lo
*.la
.deps/
.libs
*.ncb
*.sln
*.suo
*.user
Debug
Release
autom4te.cache
bin
compile
Makefile.in
aclocal.m4
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
depcomp
install-sh
ltmain.sh
missing
Makefile
libtool
*.pc
